<h1>Babyurls#show</h1>
<p>Find me in app/views/babyurls/show.html.erb</p>
Shortlink url is => <a href="<%="http://#{request.host+request.fullpath}"%>"><%="http://#{request.host+request.fullpath}"%></a>
