<h1>Babyurls#show</h1>
<p>Find me in app/views/babyurls/show.html.erb</p>
Shortlink url is => <a href="<%="#{request.protocol}#{request.host_with_port}#{request.fullpath}"%>"><%="#{request.protocol}#{request.host_with_port}#{request.fullpath}"%></a>
